body {
  background-color: #111827;
  color: #f8fafc;
}

header {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: auto;
}

header a {
  text-decoration: none;
}

header li {
  list-style: none;
}

.home {
  margin: 1em;
}

.nav {
  display: flex;
  gap: 2em;
}

.container {
  padding: 2em;
}

a {
  color:#f8fafc
}

a:hover {
  opacity: 50% ;
}

h1 {
  text-align: center;
}

.event {
  background-color: #bfdbfe;
  color: #111827;
  max-width: 400px;
  padding: 1em;
  border-radius: 10px;
}

.event a {
  color: #111827;
}